body {
    font-family: "Ogonek Heavy", sans-serif;
    background-color: #A5A1B4; /* Santas Gray */
    color: #096163; /* Deep Sea Green */
    margin: 0;
}

header {
    background-color: #F5B534; /* Saffron */
    text-align: left;
    padding: 20px;
    border-bottom-right-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inline {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    font-family: "Celias Bold", sans-serif;
    font-size: 2.5em;
}

h1 {
    font-family: "Celias Bold", sans-serif;
    font-size: 2.5em;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 32px;
}

.products {
    margin: 0;
    background-color: #F0EFF1; /* Athens Gray */
    padding: 32px;
    border-bottom-right-radius: 32px;
}

.products ul {
    list-style-type: none;
    padding: 0;
}

.products li {
    font-family: "Wes FY Bold", sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-wrapper {
    background-color: #A5A1B4; /* Santas Gray */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #A5A1B4; /* Santas Gray */
    text-align: center;
    padding: 10px;
    width: 100%;
}

a {
    color: #096163; /* Deep Sea Green */
}

.logo-large {
    max-width: 128px;
}

.logo-small {
    max-width: 48px;
    margin-right: 15px;
}

@media only screen and (max-width: 767px) {
    .my-class {
       font-size: 2em;
    }
}
