body {
    font-family: "Wes FY Bold", sans-serif;
    background-color: #A5A1B4; /* Santas Gray */
    color: #096163; /* Deep Sea Green */
    margin: 0;
}

header {
    background-color: #F5B534; /* Saffron */
    text-align: left;
    padding: 20px;
    border-bottom-right-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inline {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    font-family: "Celias Bold", sans-serif;
    font-size: 1.69em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h2 {
    font-family: "Celias Bold", sans-serif;
    font-size: 1.10em;
    margin: 0 0 0 0;
    padding: 4px 0 0 0;
}

h3 {
    font-family: "Celias Bold", sans-serif;
    font-size: 1.42em;
    margin: 0 0 0 0;
    padding: 0 0 16px 0;
}

@media only screen and (max-width: 767px) {
    h1 {
       font-size: 1.38em;
    }

    h2 {
       font-size: 0.79em;
    }

    h3 {
       font-size: 1.22em;
    }
}

main {
    margin: 32px;
}

.products {
    margin: 0;
    background-color: #F0EFF1; /* Athens Gray */
    padding: 32px;
    border-bottom-right-radius: 32px;
}

.products div {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.product-name {
    font-weight: bold;
}

.footer-wrapper {
    background-color: #A5A1B4; /* Santas Gray */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #A5A1B4; /* Santas Gray */
    text-align: center;
    padding: 10px;
    width: 100%;
}

a {
    color: #096163; /* Deep Sea Green */
}

.logo-large {
    max-width: 128px;
}

.logo-small {
    max-width: 48px;
    margin-right: 15px;
}

